<html xmlns:th="http://www.thymeleaf.org"
    layout:decorator="~{fragments/layout}"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/agora.css}" rel="stylesheet">
    <!-- <link th:href="@{/css/materialize.min.css}" rel="stylesheet"> -->
</head>

<body class="agora-theme" layout:fragment="content">

    <button id="joinBtn" class="btn btn-primary btn-sm" th:onclick="joinRoom()">회의 참여</button>
    <button id="leaveBtn" class="btn btn-primary btn-sm" th:onclick="leaveRoom()" hidden>퇴실</button>
    <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#configModal">
        설정
    </button>
    <button id="shareStartBtn" class="btn btn-primary btn-sm" th:onclick="shareStart()">공유</button>
    <button id="shareEndsBtn" class="btn btn-primary btn-sm" th:onclick="shareEnd()">종료</button>

    <th:block aria-label="설정" th:include="contents/agora/config"></th:block>

    <div class="col s7">
        <div class="video-grid" id="video">
            <div class="video-view">
                <div id="local_stream" class="video-placeholder"></div>
                <div id="local_video_info" class="video-profile hide"></div>
                <div id="video_autoplay_local" class="autoplay-fallback hide"></div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/materialize.min.js}"></script>
    <script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script>
    <script th:src="@{/js/AgoraRTCSDK-3.6.9.js}"></script>
    <script th:src="@{/js/agora.js}"></script>
    <!-- <script th:src="@{/js/agora-share.js}"></script> -->
    <script>
        getDevices(function (devices) {
            devices.audios.forEach(function (audio) {
                $("<option/>", {
                    value: audio.value,
                    text: audio.name,
                }).appendTo("#microphoneId")
            })
            devices.videos.forEach(function (video) {
                $("<option/>", {
                    value: video.value,
                    text: video.name,
                }).appendTo("#cameraId")
            })
            // To populate UI with different camera resolutions
            resolutions.forEach(function (resolution) {
                $("<option/>", {
                    value: resolution.value,
                    text: resolution.name
                }).appendTo("#cameraResolution")
            })
            M.AutoInit()
        })

        var fields = ["appID", "channel"]

        function joinRoom() {
            $("#joinBtn").attr("hidden", true);
            $("#leaveBtn").attr("hidden", false);
            var params = serializeformData(); // Data is feteched and serilized from the form element.
            if (validator(params, fields)) {
                join(rtc, params)
            }
        }

        function leaveRoom() {
            $("#leaveBtn").attr("hidden", true);
            $("#joinBtn").attr("hidden", false);
            var params = serializeformData()
            if (validator(params, fields)) {
                leave(rtc)
            }
        }
    </script>
</html>