<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <title th:text="${title}">SBP</title>
</head>
  <body>  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="menu(menu)">
        <a class="navbar-brand" href="#">Spring Boot Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
                    <a class="nav-link" th:href="@{/}">홈<span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
                </li>
                <li class="nav-item" th:classappend="${menu} == 'board'? 'active'">
                    <a class="nav-link" th:href="@{/board/list}">게시판<span class="sr-only" th:if="${menu} == 'board'">(current)</span></a>
                </li>
                <li class="nav-item" th:classappend="${menu} == 'chat'? 'active'">
                    <a class="nav-link" th:href="@{/chat/list}">채팅<span class="sr-only" th:if="${menu} == 'chat'">(current)</span></a>
                </li>
                <li class="nav-item" th:classappend="${menu} == 'cam'? 'active'">
                    <a class="nav-link" th:href="@{/cam}">웹캠<span class="sr-only" th:if="${menu} == 'cam'">(current)</span></a>
                </li>
                <li class="nav-item" th:classappend="${menu} == 'agora'? 'active'">
                    <a class="nav-link" th:href="@{/agora}">아고라<span class="sr-only" th:if="${menu} == 'agora'">(current)</span></a>
                </li>
            </ul>

            <a class="btn btn-secondary my-2 mr-2 my-sm-0" th:href="@{/account/login}"
                sec:authorize="!isAuthenticated()">로그인</a>
            <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/account/register}"
                sec:authorize="!isAuthenticated()">회원가입</a>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
                <span class="text-white" sec:authentication="name">사용자</span>&nbsp;
                <span class="text-white mx-2" sec:authentication="principal">권한</span>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
  </body>  
</html>