<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring Boot Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <th:block aria-label="common import js/css" th:replace="/fragments/script"/>
    <th:block th:replace="/fragments/header"/>
    <!-- <th:block th:include="fragments/alert"/> -->
    <main>
        <th:block layout:fragment="content"/>
    </main>

</body>
</html>